{{ $data := .Get "data" }}
{{ $json := index .Site.Data $data }}
<div id="js_adapters">
    <ul>
        {{ range $row := $json }}
        <li style="margin-bottom: 0.8em;">
            <p>学校: {{ $row.school }}</p>
            <p style="font-size: 0.9em; margin-top: 0.2em;">作者: {{ $row.author }}</p>
            <div style="font-size: 0.9em; margin-top: 0.6em;">
                <a href="{{ $row.config }}" class="app-hidden" style="margin: 0 0.5em;" target="_blank" referrerpolicy="no-referrer">配置文件</a>
                <button type="button" class="button" onclick="onImportJSAdapter('{{ $row.config }}');">
                    <span class="button-inner">一键导入</span>
                </button>
                <button type="button" class="button copy-element" data-clipboard-text="{{ $row.config }}">
                    <span class="button-inner">复制链接</span>
                </button>
            </div>
        </li>
        {{ end }}
    </ul>
</div>
